/* ---------------------------------
    RESET STYLE CSS
------------------------------------*/

/*
Global
---------------------- */
:root {
    --theme_color: #444444;
    --link_color: #000000;
    --link_hover_color: #1e90ff;
    --body_background: #ffffff;
    --box_shadow: 0 10px 20px rgba(0,0,0,.1);
}

/*
Blog Posts
---------------------- */
:root{
    --post_background: #ffffff;
    --post_border: 1px solid #e1e1e1;
    --post_content_border: 1px solid #e1e1e1;
}

/*
Main Sidebar Widgets
---------------------- */
:root{
    --widget_background: #ffffff;
    --widget_colored_bg: #1e90ff;
    --widget_colored_bg_text_color: #ffffff;
    --widget_border: 1px solid #e1e1e1;
    --widget_colored_border: 1px solid #1e90ff;
    --widget_border_radius: 5px;
    --widget_box_shadow: 0 10px 20px rgba(0,0,0,.1);
    --widget_margin:50px;
    --widget_padding:40px 30px;

    --widget_color:#444444;
    --widget_link_color:#000000;
    --widget_link_hover_color:#1e90ff;

    --widget_title_before_font_size:20px;
    --widget_title_before_background: #ffffff;
    --widget_title_after_background: #e1e1e1;
    --widget_title_before_display: inline-block;
    --widget_title_after_display: inline-block;
}

/*
Footer
---------------------- */
:root {
    --footer_top_color: #444444;
    --footer_top_link_color: #000000;
    --footer_top_link_hover_color: #1e90ff;
    --footer_top_background: #fcfcfc;
    --footer_top_padding: 100px 0;
    
    --footer_bottom_color: #444444;
    --footer_bottom_link_color: #000000;
    --footer_bottom_link_hover_color: #1e90ff;
    --footer_bottom_background: #dddddd;
    --footer_bottom_padding: 20px 0;
}

/*
Footer Sidebar Widgets
---------------------- */
:root{
    --footer_widget_background: inherit;
    --footer_widget_border: 0;
    --footer_widget_border_radius: 0;
    --footer_widget_box_shadow: noen;
    --footer_widget_margin:30px;
    --footer_widget_padding:0;

    --footer_widget_color:#444444;
    --footer_widget_link_color:#000000;
    --footer_widget_link_hover_color:#1e90ff;

    --footer_widget_title_font_size: 20px;
    --footer_widget_title_before_background: #ffffff;
    --footer_widget_title_after_background: #e1e1e1;
    --footer_widget_title_before_display: inline-block;
    --footer_widget_title_after_display: inline-block;
}



/* ----------------------------------
    GOLBALS STYLES
-------------------------------------*/
p:last-of-type {
    margin-bottom: 0;
}
input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover {
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
    box-shadow: 0 0 0 1000px white inset !important;
}
/* ----------------------------------
    MAIN AREA STYLES
-------------------------------------*/
#qs__blog__main__container {
    padding: 100px 0;
}

@media (min-width: 768px) and (max-width: 991px) {}

@media only screen and (max-width: 991px) {
    #qs__blog__main__container {
        padding: 50px 0;
    }
}
/* ----------------------------------
    BLOG POSTS AREA STYLES
-------------------------------------*/
.qs__blog__content .qs__post__item {
    background:var(--post_background);
    margin-bottom: 50px;
}

.qs__blog__content .qs__post__item:last-child {
    margin-bottom: 0;
}

.qs__blog__content .qs__post__meta {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.qs__blog__content .qs__post__meta > div {
    margin-right: 15px;
}



.qs__blog__content .qs__post__content__area {
    padding: 30px;
    border: var( --post_content_border );
}
.qs__post__header {
    margin-bottom: 20px;
}
.qs__post__title {
    margin: 0;
    padding: 0;
}

.qs__blog__content .qs__post__details {
    margin-top: 20px;
}

.qs__blog__content .qs__post__footer {
    margin-top: 30px;
}

.qs__blog__content .qs__blgo__single__category a,
.qs__post__content .qs__blgo__single__category a {
    display: inline-block;
    padding: 8px 12px;
    background: dodgerblue;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    color: #ffffff;
    line-height: 1;
}
.qs__blog__content .qs__post__footer {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-weight: 500;
}

/* ----------------------------------
    POST FORMAT STICKY
-------------------------------------*/
.qs__blog__content .sticky .qs__post__content__area {
    position: relative;
    z-index: 1;
}
.qs__blog__content .sticky .qs__post__content__area:before {
    content: "\f126";
    display: block;
    font-family: 'beicons';
    font-size: 70px;
    position: absolute;
    right: 30px;
    top: 30px;
    line-height: 1;
    z-index: -1;
    opacity: .2;
}

/* ----------------------------------
    BLOG POSTS PAGINATION
-------------------------------------*/
.qs__blog__posts__pagination {
    margin-top: 50px;
}
.qs__blog__posts__pagination ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.qs__blog__posts__pagination ul li {
    display: inline;
}

.qs__blog__posts__pagination ul li a,
.qs__blog__posts__pagination ul li span {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 1px solid #e1e1e1;
    text-align: center;
    line-height: 1;
    padding-top: 14px;
    margin-right: 8px;
    cursor: pointer;
    box-shadow: 0 10px 20px rgb(0 0 0 / 10%);
    border-radius: 5px;
    color: #444;
    font-weight: 500;
    transition: 0.3s;
}
.qs__blog__posts__pagination ul li a:hover,
.qs__blog__posts__pagination ul li span.current {
    background: dodgerblue;
    color: #fff;
    border: 1px solid dodgerblue;
}


/* ----------------------------------
    SINGLE POST DETAILS
------------------------------------*/
.qs__post__content .qs__post__meta {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.qs__post__content .qs__post__meta > div {
    margin-right: 15px;
}

.qs__post__content .qs__post__header {
    margin-bottom: 20px;
}

.qs__post__content .qs__post__details {
    margin-top: 20px;
}

.qs__post__content .qs__post__footer {
    margin-top: 50px;
    clear:both;
}

.qs__blog__post__tags__links a {
    display: inline-block;
    padding: 8px 20px;
    text-transform: capitalize;
    background: #f8f9fa;
    line-height: 1;
    border-radius: 3px;
}

.qs__blog__post__tags__links a:hover {
    background: dodgerblue;
    color: #fff;
}

/* -----------------------------------
    BLOG POST NAVIGATION
-------------------------------------- */
.qs__blog__posts__navigation {
    margin-top: 50px;
}
.qs__blog__single__post__navigation {
    position: relative;
}

.qs__blog__prev__post{
    width: 50%;
    float: left;
}
.qs__blog__next__post {
    width: 50%;
    float: right;
    text-align: right;
}

.qs__navigation__arrow__icon {
    display: inline;
}

.qs__blog__prev__post .qs__navigation__arrow__icon {
    margin-right: 10px;
}

.qs__blog__next__post .qs__navigation__arrow__icon {
    margin-left: 10px;
}

.qs__navigation__nextprev__text {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
}

.qs__blog__post__nvigation__title {
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 22px;
    line-height: 1.3;
    display: block;
    margin-top: 5px;
    margin-bottom: 0;
}
.qs__blog__single__post__navigation__center__grid {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    width: 60px;
    font-size: 50px;
    line-height: 1;
    height: 100%;
}
/* ===================================
    BLOG WIDGETS STYLES
=====================================*/

.qs__blog__widget__area {
    padding-left: 30px;
}

.qs__blog__widget__title {
    font-size: var( --widget_title_before_font_size );
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
}

.qs__blog__widget__title:before {
    content: "";
    background: var( --widget_title_before_background );
    display : var( --widget_title_before_display );
    width: 5px;
    height: 6px;
    position: absolute;
    right: 10px;
    bottom: 8px;
    z-index: 1;
}

.qs__blog__widget__title:after {
    content: "";
    background: var( --widget_title_after_background );
    display : var( --widget_title_after_display );
    width: 35px;
    height: 4px;
    position: relative;
    bottom: 5px;
    margin-left: 10px;
    border-radius: 5px;
}

.qs__blog__widget ol,
.qs__blog__widget ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.qs__blog__widget ol ol,
.qs__blog__widget ul ul {
    padding-left: 15px;
}

.qs__blog__widget ol li,
.qs__blog__widget ul li{
    margin-top: 15px;
}

.qs__blog__widget ol li:first-child,
.qs__blog__widget ul li:first-child {
    margin-top: 0;
}

.qs__blog__widget ol li ul li:first-child,
.qs__blog__widget ul li ul li:first-child{
    margin-top: 15px;
}

.qs__blog__widget select {
    width: 100%;
    padding: 10px;
}

.qs__blog__widget__area .qs__blog__widget {
    background: var( --widget_background );
    border: var( --widget_border );
    border-radius: var( --widget_border_radius );
    box-shadow: var( --widget_box_shadow );
    margin-bottom: var( --widget_margin );
    padding: var( --widget_padding );
}

.qs__blog__widget__area .qs__blog__widget:last-child {
    margin-bottom: 0;
}

/* ----------------------------------
    ARCHIVE WIDGET
-------------------------------------*/
.qs__blog__widget.widget_archive ul li,
.qs__blog__widget.widget_categories ul li,
.qs__blog__widget.widget_meta ul li {
    text-align: right;
    clear: both;
    overflow: hidden;
}

.qs__blog__widget.widget_pages ul li,
.qs__blog__widget.widget_nav_menu ul li {
    clear: both;
    overflow: hidden;
}

.qs__blog__widget.widget_archive ul li a,
.qs__blog__widget.widget_categories ul li a,
.qs__blog__widget.widget_meta ul li a{
    float: left;
}
.qs__blog__widget.widget_pages ul li a,
.qs__blog__widget.widget_nav_menu ul li a {
    display: block;
}
.qs__blog__widget.widget_archive select {
    width: 100%;
    padding: 10px;
}

/* ----------------------------------
    CALENDAR WIDGETS
-------------------------------------*/
#wp-calendar {
    margin: 0;
    width: 100%;
}

#wp-calendar > caption {
    background: var( --widget_colored_bg );
    color: var( --widget_colored_bg_text_color );
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    caption-side: top;
    font-weight: 500;
}

#wp-calendar th {
    background: #f6f9ff;
    padding: 5px 0;
    text-align: center;
    color: #252525;
    font-size: 14px;
}

#wp-calendar tfoot td {
    border: medium none;
    padding-top: 5px;
}

#wp-calendar tfoot td#next {
    text-align: right;
}

#wp-calendar tbody td {
    border: var( --widget_border );
    padding: 5px 0;
    text-align: center;
}

#wp-calendar tbody td a {
    position: relative;
}

#wp-calendar tbody td a:before {
    background: #e6eeff;
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    margin: 0;
    top: 0;
    width: 100%;
    border-radius: 50%;
    height: 100%;
}

#wp-calendar tbody td#today {
    border: var( --widget_colored_border );
}
#wp-calendar tfoot tr {
    border: var( --widget_border );
}
#wp-calendar tfoot tr td {
    padding: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
}
#wp-calendar tbody td#today{
    position: relative;
}
#wp-calendar tbody td#today:before {
    background: var( --widget_colored_bg );
    content: "";
    height: 100%;
    width: 1px;
    position: absolute;
    left: -1px;
    top: 0;
}

/* ----------------------------------
    RECENT POSTS WIDGETS
-------------------------------------*/
.qs__blog__widget.widget_recent_entries li > a {
    font-weight: 500;
}
.qs__blog__widget.widget_recent_entries li .post-date {
    font-size: 14px;
    display: block;
}

/* ----------------------------------
    RECENT COMMENTS WIDGETS
-------------------------------------*/
.qs__blog__widget.widget_recent_comments li > a {
    font-weight: 500;
}
.qs__blog__widget.widget_recent_comments .comment-author-link {
    display: block;
    font-weight: 500;
}


/* ----------------------------------
    RSS WIDGETS
-------------------------------------*/
.qs__blog__widget.widget_rss li > a {
    font-weight: 500;
    margin-bottom: 10px;
}
.qs__blog__widget.widget_rss .rss-date {
    display: block;
    margin: 10px 0;
}

.qs__blog__widget.widget_rss cite {
    margin-top: 10px;
    display: inline-block;
    font-weight: 500;
    margin-bottom: 10px;
}
.qs__blog__widget.widget_rss li:last-child cite {
    margin-bottom: 0;
}

/* ----------------------------------
    TEXT WIDGETS
-------------------------------------*/
.qs__blog__widget.widget_text p:last-of-type {
    margin-bottom: 15px;
}
.qs__blog__widget.widget_text p strong {
    margin: 5px 0;
    display: inline-block;
}

/* ----------------------------------
    SEARCH WIDGETS
-------------------------------------*/
.qs__blog__widget .qs__blog__search__form {
    position: relative;
    height: 50px;
    overflow: hidden;
}
.qs__blog__widget .qs__blog__search__form input {
    width: 100%;
    height: 100%;
    padding: 10px 20px;
    line-height: 1;
    text-transform: capitalize;
    border: var( --widget_border );
    border-radius: var( --widget_border_radius );
}
.qs__blog__widget .qs__blog__search__form button {
    background: var( --widget_colored_bg );
    border-radius: var( --widget_border_radius );
    color:var( --widget_colored_bg_text_color );
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 100%;
}
.qs__blog__widget .qs__blog__search__form button:hover,
.qs__blog__widget .qs__blog__search__form button:focus {
    background: var( --widget_colored_bg );
}
/*====================================
    FOOTER AREA STYLES
=====================================*/
.qs__blog__footer__top__area {
    color: var( --footer_top_color );
    background: var( --footer_top_background );
    padding: var( --footer_top_padding );
}
.qs__blog__footer__top__area a{
    color: var( --footer_top_link_color );
}
.qs__blog__footer__top__area a:hover{
    color: var( --footer_top_link_hover_color );
}

.qs__blog__footer__bottom__area {
    color: var( --footer_bottom_color );
    background: var( --footer_bottom_background );
    padding: var( --footer_bottom_padding );
}
.qs__blog__footer__bottom__area a{
    color: var( --footer_bottom_link_color );
}
.qs__blog__footer__bottom__area a:hover{
    color: var( --footer_bottom_link_hover_color );
}

.qs__blog__footer__copyright p {
    margin-bottom: 0;
}

@media only screen and (max-width: 991px) {
    .qs__blog__footer__top__area {
        padding: 50px 0;
    }
}

/* ===================================
    FOOTER WIDGETS STYLES
=====================================*/
.qs__blog__single__footer .qs__blog__widget {
    margin-bottom: 30px;
}

.qs__blog__single__footer .qs__blog__widget:last-child {
    margin-bottom: 0;
}
